nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Rézo Social
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Accueil
        li(class=(title == 'Contact') ? 'active' : null)
          a(href='/contact') Nous contacter
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown
            a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.picture
                img(src=user.picture)
              else
                img(src=user.gravatar)
              | <span> #{user.name || user.email || user.id} </span>
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Mon compte
              li.divider
              li
                a(href='/logout') Déconnexion
        else
          li(class=(title == 'Connexion') ? 'active' : null)
            a(href='/login') Connexion
          li(class=(title == 'Inscription') ? 'active' : null)
            a(href='/signup') Inscription
