extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .row
      .col-sm-1
      .col-sm-4
        .panel
          .panel-body
            h3 Atelier Final
            p Application web de type réseau social validant la formation de Développeur Intégrateur Web et faisant l'objet d'une soutenance.
            a.btn.btn-default(href='views/cahierDesCharges.jade', role='button') Cahier des charges
